# 4.6 Merging and Export Data Part 2

## This script will contain the following: 
1. Importing libraries and setting a path. 
2. Importing Data and checking shape 
3.  Merge data and confirm results with merge flag 
4. Export newly created dataframe

### Importing libraries and setting a path

In [1]:
#Import libraries 
import pandas as pd
import numpy as np
import os

In [2]:
#Set Path 
path= r'C:\Users\hmaio\Documents\4.0 Instacart Project'

### Import Data

In [10]:
#importing data
df_orders_products_combined = pd.read_pickle(os.path.join(path, '4.0 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [11]:
#checking shape 
df_orders_products_combined.shape

(30356421, 10)

In [12]:
# checking head 
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [14]:
# dropping _merge column 
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [16]:
# checking shape 
df_orders_products_combined.shape

(30356421, 9)

In [17]:
# importing 2nd data set 
df_prods = pd.read_csv(os.path.join(path, '4.0 Data', 'Prepared Data', 'products_checked.csv'), index_col= False)

In [19]:
# checking shape
df_prods.shape

(49672, 6)

In [20]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [25]:
# dropping unnamed column 
df_prods = df_prods.drop(columns=['Unnamed: 0'])

In [27]:
# checking output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

### Merging Data and Confirming

In [34]:
# Attempting Merge 
df_orders_products_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [36]:
# Checking to confirm 
df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
1,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
2,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
3,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
4,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both

In [37]:
df_orders_products_merged.shape

(30328763, 14)

In [39]:
df_orders_products_merged['_merge'].value_counts()

both          30328763
left_only            0
right_only           0
Name: _merge, dtype: int64

### Exporting Data

In [40]:
# Exporting data 
df_orders_products_merged.to_pickle(os.path.join(path, '4.0 Data','Prepared Data', 'orders_products_merged.pkl'))