# 4.6 Merging And Exporting Data Part 1 using MemoryErrors Plan A

## This script contains the following points: 

1. Importing Libraries and Setting path 

2. Import the data set into Jupyter as ords_prods and ords

3. Organzing Data Using Memory Error Plan A 

4. Merge the data 

5. Use the indicator argument to check whether there was a full match between the two dataframes.

6. Export data in pickle format.

### Import Libraries and Set Path

In [1]:
#Import libraries 
import pandas as pd
import numpy as np
import os

In [10]:
#Set Path 
path= r'C:\Users\hmaio\Documents\4.0 Instacart Project'

### Importing Data

In [4]:
ords = pd.read_csv(os.path.join(path, '4.0 Data', 'Prepared Data', 'orders_checked.csv'), index_col = None)

In [9]:
ords_prods = pd.read_csv(os.path.join(path, '4.0 Data', 'Original Data', 'order_products_prior.csv'), index_col = None)

### Organizing Data using Memory Error Plan A

In [12]:
ords.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [15]:
# Dropping unnamed columns 
ords.drop(columns = {'Unnamed: 0.1', 'Unnamed: 0'}, inplace = True)

In [16]:
ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [23]:
# Renaming order hour of day column to order_time_of_day
ords.rename(columns = {'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [24]:
ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order'],
      dtype='object')

In [25]:
#checking ords info 
ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3214874 entries, 0 to 3214873
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int32(2), int64(1), int8(2)
memory usage: 79.7 MB

In [26]:
# change types for ords data set 
ords['order_id']=ords['order_id'].astype('int32')
ords['user_id'] = ords['user_id'].astype('int32')
ords['order_number']=ords['order_number'].astype('int8')
ords['orders_day_of_week']=ords['orders_day_of_week'].astype('int8')
ords['order_time_of_day']=ords['order_time_of_day'].astype('int8')
ords['days_since_prior_order']=ords['days_since_prior_order'].astype('float16')

In [27]:
# Checking output to see memory usuage 
ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3214874 entries, 0 to 3214873
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 39.9 MB

In [28]:
# checking ords prod info 
ords_prods.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [29]:
# Changing types for ords prods data set 
ords_prods['product_id'] =ords_prods['product_id'].astype('int32')
ords_prods['reordered']=ords_prods['reordered'].astype('int8')
ords_prods['add_to_cart_order']=ords_prods['add_to_cart_order'].astype('int32')
ords_prods['order_id']=ords_prods['order_id'].astype('int32')

In [30]:
# checking ords prods memory usage 
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [33]:
# Checking the output
ords_prods.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [34]:
ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

### Merge Data and Use Indicator To Check

In [36]:
# Attempting Merge 
df_merged_large = ords.merge(ords_prods, on = 'order_id', indicator = True)

In [41]:
# Indicator Check 
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

### Export Data In Pickle Format

In [42]:
df_merged_large.to_pickle(os.path.join(path, '4.0 Data','Prepared Data', 'orders_products_combined.pkl'))

In [43]:
df_merged_large.shape

(30356421, 10)